@import url(https://fonts.googleapis.com/css?family=Open+Sans); /* font-family: 'Open Sans', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300); /* font-family: 'Open Sans Condensed', sans-serif; */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #777;
}

.button {

	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	height: 35px;
	padding-left: 0;
	line-height: 35px;
	font-size: 14px;
}

input[type="password"],
input[type="text"] {
    border: 1px solid #D3D3D3;
    padding: 8px 2%;
	font-family: 'Open Sans Condensed',sans-serif;
	font-size: 14px;
	width: 96%;
}

#wrapper {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
	margin: 0 auto;
    width: 1000px;
}

#header {
	padding:0;
	background: none;
	height: 46px;
	width: 1000px;
}

#pagecontent {
	background-color: #FFFFFF;
	padding: 20px;
	margin: 0 auto;
	padding-bottom: 120px;
	min-height: 483px !important;
	border: none;
	width: 1000px !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#body_edit #pagecontent {
	padding-bottom: 0 !important;
	min-height: 725px !important;
}

#body_edit #fontselect {
	padding-right: 0;
}

#home {
	 background: url(/img/txt_skipcoco-small.png) no-repeat 0 0;
    height: 44px;
    left: 21px;
    position: absolute;
    top: 0;
    width: 107px;
	display: block;
}

#editor_bottom_border,
#editor_top_border {
	display: none;
}

#headermenu {
	padding: 0;
	height: auto;
	margin: 0;
	position: absolute;
	right: 3px;
	float: none;
	width: 540px;
	top: 7px;
}

#headermenu a {
	background: none!important;
	color: #fff;
	font-family: 'Open Sans Condensed',sans-serif;
	font-size: 14px;
	width: auto;
	height: 28px;
	line-height: 28px;
	padding: 0 10px 0 0;
}

#headermenu a:hover {
	text-decoration: underline;
}

#headermenu a span {
	width: auto;
	top: 0;
}

#headermenu a#headerbasket {
    background: url(/img/ico-basket-editor.png) no-repeat right center !important;
	padding-right: 38px !important;
	height: auto;
	width: auto;
}

#basket_text {
	display: inline;
	padding: 0;
}

#basket_count {
	font-size: 14px;
	display: inline;
	margin: 0;
	padding: 0;
	color: #4D4D4D;
}

#headernavigation_buttons a div {
    margin-top: -20px;
    padding-top: 0;
    text-indent: -9999em;
}

#headernavigation_buttons a img {
    display: none;
}

#headernavigation {
	display: none;
    background: none repeat scroll 0 0 transparent;
    height: 28px;
    left: 135px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 18px;
    width: 510px;
}

#headernavigation_buttons > a.headernavigation_buttons_active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    color: #f05495;
    font-weight: bold;
}

#headernavigation_buttons > a.headernavigation_buttons_active:hover {
   color: #f05495;
}

#headernavigation_buttons a:hover {
    color: #fff;
}

#headernavigation_buttons a {
    background: url(/img/bg_shadow.png) no-repeat right top #fac3da;
    border: 1px solid #d58daa;
    border-radius: 12px 12px 0 0;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    height: 19px;
    padding: 7px 28px 0;
    width: auto;
}

#main_inner h1 {
	padding-top: 40px;
}

a#edit_card {
	color: none;
}

#send_date_picker {
	background: none;
	margin-top: 35px;
}

#send_date_picker table,
#send_date_picker table td {
	border: none;
}

#send_date_picker table th {
	background: none;
	color: #4D4D4D;
}

#send_date_picker td * {
	color: #4D4D4D;
}

#send_date_picker .ui-state-active {
	background: #eb2779;
	line-height: 27px;
	width: 27px;
	height: 27px;
	padding: 0;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.ui-datepicker .ui-datepicker-title {
	font-size: 15px;
	font-family: 'Open Sans';
	font-weight: normal;
	text-transform: uppercase;
	height: 47px;
	left: 50%;
	line-height: 47px;
	margin: 0 0 0 -88px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 175px;
}

#send_date_picker .ui-icon {
	color: #fff;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	width: auto;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
	text-decoration: underline !important;
}

#send_date_picker .ui-datepicker-next .ui-icon {
	background: url(/img/ui-datepicker-next.png) no-repeat right 21px;
	padding-right: 10px;
	color: #fff;
	position: inherit !important;
	top: 0;
	width: auto;
	font-size: 11px;
}

#send_date_picker .ui-datepicker-prev .ui-icon {
	background: url(/img/ui-datepicker-prev.png) no-repeat left 21px;
	padding-left: 10px;
	color: #fff;
	position: inherit !important;
	top: 0;
	width: auto;
	font-size: 11px;
}

#send_date_picker .ui-datepicker-prev, #send_date_picker .ui-datepicker-next {
	top: 0;
	position: inherit !important;
	width: auto;
	left: 0;
	float: right;
	margin-right: 20px;
}

#send_date_picker .ui-datepicker-prev {
	float: left;
	margin-left: 20px;
}

#send_date_picker .ui-datepicker-prev:hover,
#send_date_picker .ui-datepicker-next:hover {
	text-decoration: none !important;
}

.ui-datepicker-next-hover,
.ui-state-hover {
	text-decoration: none !important;
}

#send_date_picker .ui-datepicker-header {
	background: #eb2779;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	height: 48px;
	line-height: 48px;
	padding: 0;
}

#body_check .ui-accordion-header.ui-state-active {
	padding: 0;
}

#body_check .ui-accordion-header.ui-state-active a {
	color: #4d4d4d !important;
	background: none;
	padding: 0 !important;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: normal;
}

#body_check #accordion {
	border: none;
	width: auto !important;
}

#body_check #accordion h3 {
	margin-bottom: 13px !important;
}

.ui-datepicker {
	padding: 0;
}

#nav_buttons {
	border-top: 1px solid #e8e8e8;
	background: none;
	height: 68px;
	left: 0 !important;
	width: 1000px !important;
	bottom: 0;
	padding: 0;
}

#body_edit #nav_buttons {
	position: absolute;
	left: 0 !important;
	bottom: 0;
}

#accept_conditions {
    top: -5px;
}

#accept_terms_validation_message {
    background-color: white;
}

#step_forward {
	color: #fff !important;
}

#done,
#step_forward,
#order_card {
	text-align: left;
	background-image: url(/img/btn-slide.png);
	background-repeat: no-repeat;
	background-position: right 0;
	padding: 0 50px 0 13px;
	display: inline-block;
	height: 39px;
	line-height: 39px;
	font-family: 'Open Sans',sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: auto;
	margin: 8px 0 0 0;
}

#done:hover,
#step_forward:hover,
#order_card:hover {
	 background-position: right -39px;
	text-decoration: none;
}

#step_forward_alternate {
	background: url(/img/arrow-step-back.png) no-repeat right -38px !important;
	padding: 0;
	width: auto !important;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin-top: 22px;
	margin-right: 170px;
	margin-left: 20px;
	color: #ee6189;
}

#skip_design {
	background: url(/img/ico-arrow01.png) no-repeat 0 2px;
	position: absolute;
	left: 0;
	top: -12px;
	color: #9c9b9b !important;
	padding-left: 20px;
	line-height: 14px;
	display: none;
}

#step_back {
	margin-left: 20px;
	background: url(/img/arrow-step-back.png) no-repeat 0 0 !important;
	padding-left: 20px;
	text-align: left !important;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin-top: 22px;
	color: #ee6189;
}

#body_edit #designer_code,
#body_edit #category {
	margin-bottom: 5px;
}

#save_form p {
	padding: 3px 0;
	margin: 0;
}

#save_user_design, #save_design, #imageaddformclose, #pt-upload input[type="submit"], #choose_font, #add_photo, #add_text, #position_photo_full {
	font-size: 11px;
	font-family: Verdana;
}

#nav_remark_div {
	bottom: 88px;
	color: #252525;
	font-size: 14px;
	line-height: 20px;
	width: 960px;
	font-family: 'Open Sans';
}

#nav_remark_div b {
	display: block;
}

#basket_item td {
		color: #000000;
}

.ui-widget-content a {
		color: #CC6699;
	font-weight:normal;
}

.ui-dialog-titlebar-close {
	background-image: url(/common/gfx/delete.png) !important;
	background-repeat: no-repeat !important;
	background-color: none;
	border: 0 !important;
	width: 20px !important;
	height: 20px !important;
}

.ui-icon-closethick {
	background: transparent;
}

.ui-dialog-titlebar-close:hover .ui-icon-closethick {
	background: transparent;
	border: 0;
}

.ui-dialog-titlebar-close.ui-state-hover {
	border: 0 !important;
	background-image: none;
	background: transparent;
}

#bezorgdatum {
	color: #eb2779 !important;
	font-size: 20px !important;
	font-style: normal !important;
	font-family: 'Open Sans';
	font-weight: 700 !important;
	display: block;
	padding-top: 15px;
}

#body_check #accordion div.ui-accordion-content {
	padding: 0;
	color: #4D4D4D;
	font-size: 14px;
	width: auto;
	line-height: 23px;
}

#body_check #accordion div.ui-accordion-content p {
	margin: 0;
	padding-bottom: 15px;
}

#body_check .leftdiv {
	width: 490px;
	padding-top: 95px;
}

#body_check .rightdiv {
	width: 465px;
	padding-top: 127px;
}

#body_check .choice_center {
	position: relative;
}

#body_check h1 {
	position: absolute;
	left: 0;
	top: -93px;
	width: 920px;
	text-align: center;
}

a#edit_card {
	color: none;
}

.edit_div {
	color: #d22682!important;
    font-size: 12px;
}


#accordion {
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ui-accordion-header {
	background: none !important;
	font-size: 14px !important;
	padding: 0 !important;
	margin: 0 !important;
}

.ui-accordion-header a {
	background: #fff;
	color: #e74638 !important;
	padding: 2px 5px 2px 10px !important;
	border-top: 1px solid #e8e8e8;
	font-weight: normal !important;
}

.ui-accordion-header a:hover {
	background: #e5f0ef;
	color: #3f9e95 !important;
}

.ui-accordion-header.ui-state-active a {
	background: #2bb1a7;
	color: #fff !important;
	border: none;
}

#body_edit .ui-accordion-header:first-child a {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: none;
}

.header-last a,
#body_edit #accordion h3:last-child a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.ui-state-active.header-last a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.ui-accordion-content {
	margin: 0 !important;
	font-size: 12px;
	background: none !important;
}

#accordion .ui-accordion-content a {
		color: #CC6699;
	font-weight:normal;
}

#imagelist .head, #patternlist .head, #clipartlist .head {
		color: #000000;
}

.combo > input {
		background-image: url("/img/red_arrow_down.png");
}

#switch_card {
	display: none;
}

#headermenu a {
	color: #1f5b77;
}

.leftdiv {
	margin-top: 0;
	width: 588px;
}

.rightdiv {
	float: right;
	width: 330px;
}

#cl-bib {
	margin-top: 3px;
}

#background_type,
#add_text,
#add_photo {
	margin-top: 5px;
}

#body_address #rightdiv {
	float: right;
}

#body_address .top {
	background: url("/img/order_present_bg.png") no-repeat 0 0;
}

#body_enveloppen .ui-widget-content {
	color: #777;
	height: auto !important;
}

#body_enveloppen #enveloppen_thumbs div {
	width: 106px !important;
}

#body_enveloppen .enveloppen_beschrijving {
	padding: 0 10px 10px;
}

#body_address #enveloppen_preview {
	position: absolute;
	left: 20px;
	top: 717px;
	width: 583px;
	height: auto;
	border: 1px solid #E8E8E8;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

#body_address #enveloppen_preview .title {
	margin: 0;
	margin-top: -33px;
}

#enveloppen_thumbs {
	overflow: hidden;
	padding-top: 20px;
}

#body_check #pagecontent {
	min-height: 495px;
}

#body_basket #rebate {
	background: url(/img/rebate_bg.png) no-repeat 0 0;
}

#pagecontent h1 {
	margin-left: 0 !important;
}

#body_bestel_login .color {
	color: #4d4d4d;
}

#body_bestel_login div.choice_block .button {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ee6189;
	bottom: 55px;
	padding-right: 0;
	width: 226px;
}

#body_bestel_login div.choice_block input.button {
	bottom: 55px;
	font-size: 12px;
	height: 35px;
	padding-bottom: 5px;
}

#body_bestel_login div.choice_block .button:hover {
	background: none repeat scroll 0 0 #eb2779;
}

#body_bestel_login .choice_center div.choice_block {
	background-image: none;
	margin-top: 80px;
}

#body_bestel_login .choice_center div.choice_block {
	background: #fafafa;
	width: 177px;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 10px;
	min-height: inherit;
	padding: 10px 20px 20px;
}

#body_bestel_login .choice_center div.choice_block table td,
#body_bestel_login .choice_center div.choice_block table {
	border: none;
	margin: 0;
	padding: 0;
}

#body_bestel_login .choice_block ul, #body_bestel_login .choice_block form {
	padding-top: 12px;
}

#body_bestel_login .choice_block ul {
	padding-top: 20px;
}

#body_bestel_login .choice_center div.choice_block table td {
	padding: 0 0 2px 0;
}

#body_bestel_login .choice_block input[type="text"], #body_bestel_login .choice_block input[type="password"] {
	color: #4d4d4d;
	border: 1px solid #d3d3d3;
	border-top: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
	width: 162px;
}

#body_bestel_login b {
	font-weight: normal;
}

#body_bestel_login .choice_block ul {
	list-style: none !important;
}

#body_bestel_login .choice_block li {
	color: #4d4d4d;
	padding: 0 0 0 12px;
	background: url(/img/ico-square.gif) no-repeat 0 8px;
}

#body_bestel_login div.choice_block {
	height: 234px !important;
	position: relative;
}

#body_bestel_login div.choice_block .button {
	position: absolute;
	left: 20px;
	bottom: 20px;
	margin: 0;
	width: 172px;
}

#body_bestel_login div.choice_block span.button {
	line-height: 32px;
	font-size: 15px;
}

#body_bestel_login div.choice_block input.button {
	font-size: 15px;
	font-family: 'Open Sans';
	bottom: 21px;
}

#body_bestel_login #pagecontent h1 {
	padding-bottom: 27px;
}

#body_verzend .choice_div {
	width: 219px;
	margin: 0 10px;
}

#body_verzend .choice_div .button {
	float: none;
	display: block;
	width: 150px !important;
	margin: 0 auto;
	font-size: 15px !important;
	padding: 0 10px !important;
	line-height: 33px !important;
}

#body_verzend .info_div {
	background: none;
	float: none;
	height: 224px;
}

#body_verzend .choice_center {
	width: 717px !important;
}

#body_verzend .choice_div a {
	display: block;
	background: #fafafa;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 177px;
	padding: 20px;
}

#body_verzend .choice_div a:hover {
	text-decoration: none;
}

#body_verzend .choice_div .img_div span {
	position: inherit !important;
	display: block;
	width: auto !important;
	font-size: 20px;
	color: #4D4D4D;
	text-align: left;
	font-family: 'Open Sans Condensed',sans-serif;
	padding-top: 10px;
	padding-bottom: 14px;
}

#body_verzend .info_div_content {
	text-align: left;
	margin: 0;
	width: auto;
	color: #787878;
	line-height: 25px;
	font-family: 'Open Sans Condensed',sans-serif;
}

#body_verzend .info_div .info_div_content div {
	color: #787878;
	height: 140px;
	vertical-align: top;
}

#body_verzend .img_div {
	height: auto;
	display: block !important;
	margin-top: -57px;
}

#body_verzend .img_div img {
	margin: 0;
}

#body_verzend #pagecontent h1 {
	padding-bottom: 62px;
}

#cadeau_div a span.bold {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin-left: 66px;
    padding-top: 17px;
    width: 55px;
}

#body_check #nav_buttons,
#body_enveloppen #nav_buttons,
#body_address #nav_buttons {
	width: 900px;
}

#body_check #pagecontent {
	min-height: 520px!important;
}

#body_cadeau_details #pagecontent,
#body_cadeau_category #pagecontent {
	min-height: 710px!important;
}

#body_enveloppen #accordion {
	margin-top: 110px;
}

#body_enveloppen h1 {
	padding-top: 0;
}

#body_cadeau_category #categories {
	padding-top: 0;
	margin-right: 27px;
}

#body_cadeau_details #categories {
	padding-top: 0;
	margin-right: 10px;
}

#body_cadeau_details #cadeau_description {
	margin-left: 10px;
}

#body_cadeau_category #cadeau_choice_list {
	width: 145px;
}

#body_basket .line {
	border-color: #ec297b;
}

#body_basket h1 {
	padding-top: 20px;
}

#body_cadeau .bold {
	font-family: 'Bitter', serif;
	font-size: 15px;
	font-weight: 300;
	color: #702b2b;
}

#body_kaarttype .choice_div a .button,
#body_cadeau .choice_div div a.button {
	background: #2bb1a7;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	font-weight: normal;
	padding: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	width: 150px;
	margin-top: 14px;
}

#body_kaarttype .choice_div a .button {
	width: 170px;
	margin: 0;
	font-family: 'KBGobbleDay';
	font-size: 12px;
	width: 168px;
	height: 36px;
	box-sizing: border-box;
	border-radius: 0;
	background: url(/img/btn-1.png) no-repeat 0 0;
	opacity: 1 !important;
	line-height: 38px;
	text-decoration: none !important;
}

#body_cadeau .choice_div div a.button:hover {
	background: none repeat scroll 0 0 #ee6189;
	text-decoration: none;
}

#body_kaarttype .choice_div a:active .button,
#body_cadeau .choice_div div a.button:active {
	-moz-box-shadow: inset 0 0 5px #c86518;
	-webkit-box-shadow: inset 0 0 5px #c86518;
	box-shadow: inset 0 0 5px #c86518;
}

#body_cadeau #cadeau_div {
	padding: 10px 10px 0;
	margin-top: -94px;
	width: 154px;
}

#body_cadeau #cadeau_div a br {
	display: none;
}

#body_cadeau .choice_div a div {
	height: 267px !important;
}

body#body_kaarttype .info_div {
	width: 175px;
	float: none;
}

body#body_kaarttype .choice_div {
	width: 175px;
	margin: 0 0 30px;
	padding: 0 5px;
	display: inline-block;
	vertical-align: middle;
	float: none;
}

body#body_kaarttype .choice_center {
	width: 600px;
}

body#body_kaarttype .info_div_content {
	position: absolute;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	width: 170px;
	text-align: center;
	height: 45px;
	line-height: 35px;
	font-size: 14px;
	color: #702b2b !important;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	left: 0;
	top: 178px;
	font-size: 0;
	padding-top: 28px;
}

body#body_kaarttype .info_div_content .bold {
	font-weight: normal;
	color: #702b2b !important;
}

#body_kaarttype .choice_div img {
	bottom: 20px;
}

#body_kaarttype #pagecontent h1 {
	padding-bottom: 50px;
}

#body_kaarttype .info_div {
	height: 187px;
	background: none;
}

#chooseside label.selected .side_selected {
	background: url("../img/icon_current_active.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	height: 17px !important;
	width: 17px !important;
}

#body_keuze .choice_div_content {
	height: 160px;
}

#body_keuze .button {
	padding: 0;
}

#body_keuze .img_div {
	height: 122px;
	padding: 10px 0 15px;
	background: #fafafa;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#body_keuze .choice_div_content {
	height: 160px;
}

#body_keuze #pagecontent h1 {
	margin-bottom: 56px;
}

#body_size .info_div .img_div {
	background-color: #FAFAFA;
    border: 1px solid #E8E8E8;
    border-radius: 7px;
    height: 175px;
    width: 175px;
}

#body_size .info_div {
	height: auto;
}

#body_size .info_div_content {
	display: none;
}

#body_size #pagecontent .choice_div h1, #body_size #pagecontent .choice_div h2 {
    color: #585858 !important;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
}

#body_size .choice_div {
	padding: 0 15px;
	float: none;
	display: inline-block;
	margin: 50px 0 0;
	width: 175px;
}

#body_size .choice_center {
	width: 740px !important;
}
#body_size #pagecontent .choice_div h2 {
	margin-bottom:10px;
}
#body_size .choice_div h1,
#body_size .choice_div h2 {
	text-transform: none;
	font-weight: 700;
	font-size: 26px;
}

#body_size .choice_div h1 {
	margin-top: 15px !important;
	padding-bottom: 0 !important;
}

#body_size .choice_div h2 {
	font-size: 23px;
	color: #DA7E8E !important;
}

#body_size .choice_div .button {
	clear: both;
    display: block;
    float: none;
    margin: 0 auto;
    width: 175px;
	padding: 0;
}

#body_address #rightdiv {
	float: right;
	padding: 68px 0 0 0;
	width: 330px;
}

.address {
	background: none !important;
}

#body_addresses #order_address_preview,
#body_addresses #order_present_preview,
#body_address #papier_preview,
#body_address #order_present_preview {
	background: none;
	border: 1px solid #e8e8e8;
	padding: 0 0 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: auto !important;
	height: auto;
	float: none;
}

#body_addresses #order_present_preview,
#body_address #order_present_preview {
	text-align: center;
	margin-top: 102px;
}

#body_addresses #order_present_preview {
	margin-top: 16px;
}

#body_addresses #order_address_preview {
	background: none !important;
	padding: 0 !important;
}

#body_addresses .title,
#body_address .title {
	background: #eb2779;
	padding: 0 10px !important;
	color: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	height: 33px;
	line-height: 30px;
	text-align: left;
	margin-bottom: 10px;
}

#body_address #order_present_preview br {
	display: none;
}

#body_address #papier_content {
	background: none;
	border: none;
	padding: 0 15px;
	width: auto;
}

#body_address .top {
	background: none;
	position: absolute;
	left: 20px;
	top: 706px;
	width: 588px;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: auto !important;
}

#enveloppenveel {
	margin: 0;
}

#enveloppenveel td {
	padding: 0;
	width: 16%;
	line-height: 20px;
}

#body_address .enveloppen_beschrijving {
	padding: 0 20px 20px !important;
}

#body_addresses #delete2 {
	display: none;
}

#body_addresses #addr_prev, #body_addresses #addr_next, #body_addresses #addr_total {
	color: #3C86AE;
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
}

.address input[type="text"], .address select {
	width: 96%;
}

.address select {
	padding: 8px 2%;
	width: 100%;
}

#body_address #pagecontent {
	min-height: 955px !important;
}

#enveloppen_thumbs div {
	width: 95px;
}

#body_address .address table {
	width: 100%;
	margin: 0;
}

#body_address .leftdiv,
#body_addresses #leftdiv {
	position: relative;
	padding-top: 94px;
}

#body_enveloppen .leftdiv {
	padding-top: 94px;
}

#body_enveloppen .leftdiv h1,
#body_address .leftdiv h1,
#body_addresses #leftdiv h1 {
	position:absolute;
	left: 0;
	top: 50px;
	width: 960px;
	text-align: center;
	padding: 0;
}

#body_address #abook,
#body_addresses #upload,
#body_addresses #abook {
	background: none;
	color: #eb2779;
	padding: 0;
	margin-bottom: 0;
	text-align: left;
}

#body_addresses #new {
	background: #ee6189 url(/img/ico-extra.png) no-repeat 10px center;
	height: 35px;
	line-height: 35px;
	color: #fff;
	padding: 0 15px 0 40px;
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	float: right;
	margin-top: 10px;
}

#body_addresses #new:hover {
	background: #eb2779 url(/img/ico-extra.png) no-repeat 10px center;
}

#body_addresses .address table .row-last td span {
	float: left;
	margin-top: 10px;
	padding-top: 6px;
}

#body_addresses .address table {
	width: 100%;
	margin: 0;
}

#body_addresses #rightdiv {
	float: right;
	width: 319px;
	padding: 106px 0 0 0;
}

#body_addresses .address table .row-last td br {
	display: none;
}

#body_addresses #order_present_preview br {
	display: none;
}

#body_addresses #order_address_preview ul {
	margin: 0;
	width: auto;
	padding: 0 0 0 15px;
}

#body_addresses #order_address_preview div {
	margin-left: 0 !important;
}

#addr_prev {
	margin-left: 10px;
}

#body_addresses #addr_total {
	width: 175px;
}

#body_enveloppen .address table {
	width: 100%;
	margin: 0;
	position: inherit !important;
}

#body_enveloppen .address {
	height: auto;
	width: auto;
}

#body_basket #basket {
	float: none;
	width: 100%;
}

#body_basket #rebate {
	background: none;
	border: none;
	padding: 0;
	margin: -48px 0 100px 0;
	width: auto;
	height: auto;
	float: none !important;
	overflow: hidden;
}

#body_basket div#rebate span {
	display: none;
}

#body_basket div#rebate .tit-rebate {
	padding: 0;
	float: left;
	font-weight: bold;
	width: 120px;
	padding-top: 5px;
	font-family: 'Open Sans';
}

#body_basket div#rebate .cont-rebate {
	float: left;
}

#body_basket div#rebate .cont-rebate input[name="actiecode"] {
	width: 160px;
	border: 1px solid #D3D3D3;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
	margin-right: 10px;
	vertical-align: middle;
	padding: 8px 10px;
}

#body_basket div#rebate .cont-rebate input[type="submit"] {
	margin: 0 !important;
	text-transform: none !important;
	vertical-align: middle;
	height: 34px !important;
	width: auto !important;
	padding: 0 15px 3px;
}

.optiondisplay {
	display: none;
}

.reference_block .line,
.email_block .line {
	display: none;
}

.reference_block,
.email_block {
	clear: both;
	overflow: hidden;
	width: 620px !important;
}

.email_block {
	padding-bottom: 10px;
	padding-top: 5px;
}

.reference_block label,
.email_block label {
	float: left;
	width: 310px;
	text-align: right;
	font-size: 12px;
	padding-right: 10px;
	line-height: 16px;
}

.reference_block label {
	padding-top: 7px;
}

.reference_block br {
	display: none;
}

.reference_block input,
.email_block input {
	float: left;
	color: #4d4d4d;
	width: 202px;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
}

.button-block a.button {
	background: url(/img/arrow-step-back.png) no-repeat right -38px;
	font-size: 14px;
	color: #eb2779;
	height: 30px;
	line-height: 30px;
	padding: 0 32px 0 0;
	text-align: right;
	float: right;
	margin-bottom: 10px;
	margin-right: 7px;
}

.button-block a.button:hover {
	background: url(/img/arrow-step-back.png) no-repeat right -38px !important;
	text-decoration: underline;
}

.oneline {
	display: none;
}

.twoline {
	display: block;
	color: #fff;
}

#pay {
	background: url(/img/bg-basket.png) no-repeat right top;
	padding: 0 51px 0 25px;
	width: auto;
	float: right;
	line-height: 22px;
	height: 59px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#pay:hover {
	background-position: right -59px;
}

#pay:active {
	background-position: right -118px;
}

.button-block {
	width: 296px !important;
	float: right !important;
	margin-top: -55px;
}

.twoline strong {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 22px;
	display: block;
	text-align: left;
	text-transform: capitalize;
}

.twoline span {
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}

#body_basket #pagecontent {
	background: #fff url(/img/bg-content.gif) repeat-x left bottom;
	padding-bottom: 20px;
}

#body_basket .delbtn {
	background: url("/img/ico_delete.gif") no-repeat 0 0 !important;
	width: 70px;
	height: 20px;
	line-height: 20px;
	color: #F00;
	padding-left: 27px;
	text-align: left;
}

#body_basket .delbtn:hover {
	text-decoration: underline;
}

#body_basket #basket td .price {
	display: inline;
	float: none !important;
}

#add_text {
	margin-top: -5px;
}

#txt_edit_add {
	width: 100%;
}

#body_bestel_details #price_table td,
#body_bestel_details #column2,
#body_address_n #left_div table {
	border-color: #EC297B !important;
}

#body_bestel_details .ui-dialog {
	width: 302px !important;
}

#body_bestel_details .ui-widget-header {
	background: #EC297B !important;
	color: #fff !important;
}

#body_bestel_details select {
	padding: 8px 0;
}

#price_table td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#body_address_n #pagecontent {
	padding-bottom: 120px;
}

#body_address_n #left_div input[type="text"] {
	width: 96%;
}

#body_address_n #left_div select {
	padding: 8px 0;
	width: 100%;
}

#body_address_n #pagecontent .line {
	border: none !important;
}

#body_address_n #pagecontent hr {
	background: #EC297B;
}

#body_address_n #left_div table {
	width: 100% !important;
	padding-right: 0 !important;
}

#body_address_n #left_div {
	border-right: 1px solid #EC297B !important;
	width: 615px;
	padding-right: 15px;
}

#body_address_n #left_div h3 {
	margin-bottom: 5px;
}

#body_address_n #left_div table {
	border-right: none !important;
}

#body_address_n #left_div table td,
#body_address_n #right_div table td {
	padding-top: 3px;
	padding-bottom: 3px;
}

#body_address_n #send_date_picker {
	margin-top: 0;
}

#body_basket #nav_buttons a:nth-child(2) {
	margin-left: 20px;
	background: url(/img/arrow-step-back.png) no-repeat 0 0 !important;
	padding-left: 33px;
	text-align: left !important;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin-top: 22px;
	color: #ee6189;
}

#body_basket #nav_buttons a:nth-child(2):hover {
	text-decoration: underline;
}

#body_basket #pagecontent {
	padding-bottom: 100px;
}

#body_basket #basket_n {
	width: 100%;
}

#body_basket #basket_n .button {
	color: #EC297B !important;
	background: none !important;
	padding: 0;
	width: auto;
	margin-right: 15px;
	text-transform: capitalize;
	height: 36px;
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 14px;
}

#body_basket #basket_n .button:hover {
	text-decoration: underline;
}

#body_basket #basket_n td {
	padding-top: 4px;
	padding-bottom: 4px;
}

/*
-----------------------------------------------------------------
Clearfix
-----------------------------------------------------------------
*/
#body_addresses #order_address_preview div {
	zoom: 1;
}

#body_addresses #order_address_preview div:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#body_address_n #wrapper #pagecontent {
        padding-left: 25px;
        padding-right: 25px;
}

#body_edit #canvas * {
    box-sizing:initial !important;
}

/** 22-02 **/
#body_bestel_details #column1 table {
	margin-left: 110px;
}

#body_bestel_details .fsc {
	margin-left: 0;
}

#body_bestel_details #column1 {
	width: 550px !important;
	padding: 0 !important;
}

#body_bestel_details #column2 {
	width: 335px !important;
	padding: 0 !important;
	float: right;
}

#body_bestel_details #price_table_wrapper {
	width: 100% !important;
	border: 0 !important;
	background-color: #f1f7f3;
	padding: 20px 10px !important;
}

#body_bestel_details .border-below th {
	border-top: 1px solid #bcc7c1;
}

#body_bestel_details #price_table td {
	border-color: #bcc7c1 !important;
}

#body_bestel_details #price_table {
	font-size: 13px;
}

#card_size_and_count,
#enveloppen,
#paper {
	position: relative;
	padding: 20px 0;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	min-height: 150px;
}

#card_size_and_count h2,
#card_size_and_count .count_nan_error,
#enveloppen h2,
#paper h2 {
	padding-left: 110px;
	display: block;
}

#card_size_and_count tr:first-child td:last-child,
#enveloppen table tr:first-child td:last-child,
#paper table tr:first-child td:last-child {
	position: absolute;
	left: 0;
	top: 20px;
}

#card_size_and_count tr:first-child td:last-child span,
#enveloppen table tr:first-child td:last-child img {
	margin: 0 !important;
}

#card_size_and_count tr:last-child td:first-child,
#enveloppen tr:last-child td:first-child {
	width: 1px;
}

#enveloppen hr,
#paper hr {
	display: none;
}

.button-group .button {
	width: 140px;
	float: left;
	color: #fff!important;
	height: 50px!important;
    line-height: 50px!important;
	border-radius: 0px!important;
	padding: 0 10px 0 20px!important;
}

.button-group .button:after {
	background: none!important;
}

.button-group .button:first-child {
	margin-right: 5px!important;
}

body#body_kaarttype {
	background: #f2f7f4;
}

#body_kaarttype #header {
	display: block;
	float: none;
	width: 1030px;
	height: 65px;
	padding-top: 6px;
	box-sizing: border-box;
	background: none !important;
	margin: 0 auto;
	position: relative;
}

#body_kaarttype #logo-editor img {
	height: 57px;
	width: auto;
}

#body_kaarttype #pagecontent {
	background-color: #FFFFFF;
	padding: 20px;
	margin: 0 auto!important;
	padding-bottom: 120px;
	min-height: 483px !important;
	border: none;
	width: 1000px !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: none;
}

#body_kaarttype .button:after {
	content: none;
}

#body_kaarttype #step_back {
	color: #2bb1a7;
	font-family: 'KBREINDEERGAMES';
	font-size: 16px;
	margin-left: 0px;
	width: auto;
}

#body_kaarttype #step_back:before {
	content: '<';
	padding-right: 5px;
}

#body_kaarttype #headermenu {
	display: block;
	z-index: 9;
}

#body_kaarttype #header #headermenu {
	margin: 0px;
	padding: 10px 0 0 0;
	width: auto !important;
	background: none;
	height: auto;
}

#body_kaarttype #header #headermenu a {
	color: #72777d !important;
	font-family: 'KBGobbleDay';
	font-size: 13px;
	line-height: 30px;
	background: none;
	height: auto;
	vertical-align: top;
	width: auto;
	margin-left: 0;
}

#body_kaarttype #header #headermenu #basket_count {
	width: auto !important;
	color: #2bb1a7 !important;
	font-family: 'KBGobbleDay';
	font-size: 14px !important;
	top: 0px;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

#body_kaarttype #basket_text {
	display: none;
}

#body_kaarttype #header #headermenu #headerhelp span:before {
	font-family: 'hierbenik';
	content: 'i';
	font-size: 15px;
	display: inline-block;
	vertical-align: top;
	padding-right: 3px;
}

#body_kaarttype #header #headermenu #headerlogin span:before {
	font-family: 'hierbenik';
	content: 'a';
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
	padding-right: 3px;
}

#body_kaarttype #header #headermenu #basket_count:before {
	font-family: 'hierbenik';
	content: 'b';
	font-size: 17px;
	display: inline-block;
	vertical-align: top;
	padding-right: 0px;
}

#voorbeeld_admin_nav_buttons #save_and_overwrite {
    right: -40px;
    bottom: 0px;
}
