/** GLOBAL - FONTS -----------------------------------------**/

@font-face {
   font-family: 'Museo Sans';
      src: url('fonts/museosans100-webfont.eot');
      src: url('fonts/museosans100-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/museosans100-webfont.woff') format('woff'),
           url('fonts/museosans100-webfont.ttf') format('truetype'),
           url('fonts/museosans100-webfont.svg#museosans') format('svg');
   font-weight: 100;
}


@font-face {
   font-family: 'Museo Sans';
      src: url('fonts/museosans300-webfont.eot');
      src: url('fonts/museosans300-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/museosans300-webfont.woff') format('woff'),
           url('fonts/museosans300-webfont.ttf') format('truetype'),
           url('fonts/museosans300-webfont.svg#museosans') format('svg');
   font-weight: 300;
}

@font-face {
   font-family: 'Museo Sans';
      src: url('fonts/museosans500-webfont.eot');
      src: url('fonts/museosans500-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/museosans500-webfont.woff') format('woff'),
           url('fonts/museosans500-webfont.ttf') format('truetype'),
           url('fonts/museosans500-webfont.svg#museosans') format('svg');
   font-weight: 500;
}

@font-face {
   font-family: 'Museo Sans';
      src: url('fonts/museosans700-webfont.eot');
      src: url('fonts/museosans700-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/museosans700-webfont.woff') format('woff'),
           url('fonts/museosans700-webfont.ttf') format('truetype'),
           url('fonts/museosans700-webfont.svg#museosans') format('svg');
   font-weight: 700;
}
@font-face {
   font-family: 'Museo Sans';
      src: url('fonts/museosans900-webfont.eot');
      src: url('fonts/museosans900-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/museosans900-webfont.woff') format('woff'),
           url('fonts/museosans900-webfont.ttf') format('truetype'),
           url('fonts/museosans900-webfont.svg#museosans') format('svg');
   font-weight: 900;
}
