/** GLOBAL - VARIABLES -----------------------------------------**/


/*** COLORS ***/

$blue: #4f9cc1;
$green: #0d7a6d;
$pink: #ff9fa5;
$greyLight: #f3f3f4;
$yellow: #ffd34b;
$orange: #f78f2e;



/*** FILTERS ***/




/*** TRANSITIONS ***/

/*** SIZES ***/

