<!--container-->
<div class="footer-body">
    <div class="container">
        <div class="cols">
            <div class="footer-body-col xs-12 xsm-12 sm-6 md-3">
                <hr />
                <h3>Geboortekaartjes</h3>
                <ul>
                    <li>
                        <a href="https://hipdesign.nl/geboortekaartjes">&bull; Geboortekaartjes maken</a>
                    </li>
                    <li>
                        <a href="/geboortekaartjes-jongens">&bull; Geboortekaartjes jongens</a>
                    </li>
                    <li>
                        <a href="/geboortekaartjes-meisjes">&bull; Geboortekaartjes meisjes</a>
                    </li>
                    <li>
                        <a href="/extra/geboorteteksten">&bull; Tekst geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/geboortekaartjes">&bull; Alle geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/enveloppen-info">&bull; Enveloppen vooraf bestellen
                            <i class="icon icon-mail"> </i>
                        </a>
                    </li>
                    <li>
                        <a href="/sluitzegels">&bull; Sluitzegels</a>
                    </li>
                </ul>
            </div>
            <div class="footer-body-col xs-12 xsm-12 sm-6 md-3">
                <hr />
                <h3>Vragen? Wij helpen graag</h3>
                <p>Bel ons:
                    <br /> 0481 35 67 21</p>
                <p>Of mail ons
                    <br /> info@meisenmanneke.nl
                </p>
                <h3>Volg ons:</h3>
                <p class="fb">
                    <a href="https://www.facebook.com/Meisenmanneke/" target="_blank"><img alt="" src="/media/facebook01.png" style="width: 40px; height: 40px;" /></a> &nbsp;
                    <a href="https://nl.pinterest.com/meisenmanneke/" target="_blank"><img alt="" src="/media/pinterest01.png" style="width: 40px; height: 40px;" /></a> &nbsp;
                    <a href="https://twitter.com/meisenmanneke" target="_blank"><img alt="" src="/media/twitter01.png" style="width: 40px; height: 40px;" /></a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/meisenmanneke/" target="_blank"><img alt="" src="/media/Insta01.png" style="width: 40px; height: 40px;" /></a>
                </p>
            </div>
            <div class="footer-body-col xs-12 xsm-12 sm-6 md-3">
                <div class="footer-body-customer-experience">
                    <hr />
                    <h3>Trouwkaarten</h3>
                    <ul>
                        <li>
                            <a href="/prijzen">&bull; Stoer</a>
                        </li>
                        <li>
                            <a href="/bezorging">&bull; Hip en trendy</a>
                            <br /> &nbsp;
                        </li>
                    </ul>
                    <h3>Jubileumkaarten</h3>
                    <ul>
                        <li>
                            <a href="https://www.feedbackcompany.com/nl-nl/reviews/hippe-geboortekaartjes-nl/">&bull; Geometrisch</a>
                        </li>
                        <li>
                            <a href="/direct-verzenden">&bull; Typagrafie en letterpress stijl</a>
                        </li>
                    </ul>
                    <p class="footer-body-customer-experience-feedback">&nbsp;</p>
                </div>
            </div>
            <div class="footer-body-col xs-12 xsm-12 sm-6 md-3">
                <hr />
                <h3>Informatie &amp; service</h3>
                <ul>
                    <!--<li><a href="/account_nieuwsbrief">Aanmelden nieuwsbrief</a></li>-->
                    <li>
                        <a href="/prijzen">&bull; Prijzen</a>
                    </li>
                    <li>
                        <a href="/bezorging">&bull; Bezorging</a>
                    </li>
                    <li>
                        <a href="/direct-verzenden">&bull; Rechtstreeks verzenden</a>
                    </li>
                    <li>
                        <a href="/veel_gestelde_vragen">&bull; Veelgestelde vragen</a>
                    </li>
                    <li>
                        <a href="/over_ons">&bull; Over ons</a>
                    </li>
                    <li>
                        <a href="/bezorging">&bull; Gratis verzending in Nederland</a>
                        <br /> &nbsp;
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-body">
    <div class="container">
        <div class="cols">
            <!--cols-->
        </div>
        <!--container-->
    </div>
    <!--footer-body-->
</div>
<div class="footer-footer">
    <div class="container"><img src="/media/logo.png" style="width: 92px; height: 32px; border-width: 0px; border-style: solid;" />&nbsp;&nbsp;&nbsp; &copy;2017 MEISenMANNEKE.nl&nbsp; |&nbsp; Voorwaarden</div>
</div>


<!-- COMMON COMPONENTS -->
<script src="/common/components-js/vendor/cycle.js"></script>
<script src="/common/components-js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="/common/components-js/vendor/caro.js"></script>
<script src="/common/components-js/navbar.js"></script>
<script src="/common/components-js/custom.js"></script>
<!-- COMPONENTS -->
<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/carousel.js"></script>
<script src="/css/js/components/foldmenu.js"></script>
<script src="/css/js/components/list.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/thumbnail-scroller.js"></script>
<!-- CUSTOM -->
<script src="/css/js/components/custom.js"></script>