<link href="/css/custom.css" rel="stylesheet" />
<div class="navbar">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button"><span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></button>
            <div class="topbar-menu-left">
                <a href="/prijzen" title="Gratis verzending">Gratis verzending</a> | <a href="/proefdruk" title="Proefdruk 1,-">Proefdruk 1,-</a> | <a href="/bezorging" title="Voor 18:00 besteld, morgen in huis">Voor 18:00 besteld, morgen in huis</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li><a class="hphone" href="tel:0123456789" title="012-3456789"><i class="icon icon-phone">&nbsp;</i> <span>012-345 67 89</span></a></li>
                    <li><a class="basket" href="/contact" title="Contact"><i class="icon icon-mail">&nbsp;</i> <span>Contact</span></a></li>
                    <li class="info dropdown"><a class="help" href="/hulp" title="Hulp"><i class="icon icon-info">&nbsp;</i> <span>Info &amp; Prijzen</span> <i class="icon icon-chevron-down icon-xs">&nbsp;</i> </a>
                        <ul class="dropdown-content">
                            <li><a href="/prijzen">Prijzen</a></li>
                            <li><a href="/proefdruk">Proefdruk</a></li>
                            <li><a href="/enveloppen-info">Enveloppen</a></li>
                            <li><a href="/betalen">Betalen</a></li>
                            <li><a href="/bezorging">Bezorging</a></li>
                            <li><a href="/garantie">Garantie</a></li>
                            <li><a href="/privacy">Privacy</a></li>
                            <li><a href="/FAQ">Veelgestelde vragen</a></li>
                            <li><a href="/algemene_voorwaarden">Algemene voorwaarden</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" id="navbar-logout"><a class="account" href="javascript:void(0);" title="Account"><i class="icon icon-user">&nbsp;</i> <span>Account</span><i class="icon icon-chevron-down icon-xs">&nbsp;</i></a>
                        <ul class="dropdown-content">
                            <li><a href="/account_address">Persoonsgegevens</a></li>
                            <li><a href="/account_password">Wachtwoord wijzigen</a></li>
                            <li><a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a></li>
                            <li><a href="/account_orders">Bestellingen</a></li>
                            <li><a href="/eigen_collectie">Eigen collectie</a></li>
                            <li style="border-top: 1px dashed #e0e0e0;"><a href="/logout">Uitloggen</a></li>
                        </ul>
                    </li>
                    <li id="navbar-login"><a href="/login" title="Inloggen"><i class="icon icon-user">&nbsp;</i> <span>Inloggen</span> </a></li>
                    <li><a class="basket" href="/basket_n" title="Winkelmandje"><i class="icon icon-basket">&nbsp;</i> <span id="navbar-basket">0 items</span> </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse"><a class="logo" href="/home" title="Kaartjes"><img alt="" src="/media/logo.png" style="width: 180px; height: 63px;" /></a>
                <!--<ul class="middlebar-menu-left">
	<li><a href="/zelf-geboortekaartjes-maken">Zelf maken</a></li>
</ul>-->
                <ul class="middlebar-menu-right">
                    <li><a href="/geboortekaartjes">Alle geboortekaartjes</a></li>
                    <li><a href="/zelf-maken">Zelf maken</a></li>
                    <li><a href="/jongens">Jongens</a></li>
                    <li><a href="/meisjes">Meisjes</a></li>
                    <li><a href="/geboortekaartjes-met-foto">Met foto&#39;s</a></li>
                    <li class="dropdown"><a href="javascript:void(0);">Categorie&euml;n <i class="icon icon-chevron-down icon-xs"> &nbsp;</i></a>
                        <ul class="dropdown-content">
                            <li><a href="/adoptiekaartjes">Adoptie</a></li>
                            <li><a href="/geboortekaartjes-boom">Boom</a></li>
                            <li><a href="/geboortekaartjes-dieren">Dieren</a></li>
                            <li><a href="/geboortekaartjes-hartjes">Hartjes</a></li>
                            <li><a href="/geboortekaartjes-hout">Hout</a></li>
                            <li><a href="/lieve-geboortekaartjes">Lief</a></li>
                            <li><a href="/moderne-geboortekaartjes">Modern</a></li>
                            <li><a href="/originele-geboortekaartjes">Origineel</a></li>
                            <li><a href="/romantische-geboortekaartjes">Romantisch</a></li>
                            <li><a href="/geboortekaartjes-ruitjes">Ruitjes</a></li>
                            <li><a href="/stoere-geboortekaartjes">Stoer</a></li>
                            <li><a href="/geboortekaartjes-tweeling">Tweeling</a></li>
                            <li><a href="/typografie-geboortekaartjes">Typografie</a></li>
                            <li><a href="/geboortekaartjes-uil">Uil</a></li>
                            <li><a href="/vrolijke-geboortekaartjes">Vrolijk</a></li>
                            <li><a href="/vintage-geboortekaartjes">Vintage</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-search-field">
                <form action="search.php" method="get">
                    <button class="search-button-field" name="search" type="submit" value="Go"><i class="icon icon-search">&nbsp;</i></button>
                    <div class="search-input-field">
                        <input name="search" placeholder="Zoeken" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>