<link href="/css/custom.css" rel="stylesheet" />

<div class="navbar navbar-default-a navbar-style-1">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button">
                <!--<button class="navbar-hamburger hamburger-border" type="button">--><span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></button><a class="logo" href="/"><img alt="meis en manneke" class="logosmall" src="/media/logo.png" /></a>
           	<div class="topbar-menu-left">
                <a href="/prijzen" title="Gratis verzending">Gratis verzending</a> | <a href="/proefdruk" title="Proefdruk 1,-">Proefdruk 1,-</a> | <a href="/bezorging" title="Voor 18:00 besteld, morgen in huis">Voor 18:00 besteld, morgen in huis</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li><a class="hphone" href="tel:0481356721" title="0481-356721"><i class="icon icon-phone">&nbsp;</i> <span>0481 - 35 67 21</span></a></li>
                    <li><a class="" href="/contact" title="Contact"><i class="icon icon-mail">&nbsp;</i> <span>Contact</span></a></li>
                    <li class="info dropdown js-dropdown"><a class="help js-dropdown-hover" href="/hulp" title="Hulp"><i class="icon icon-info">&nbsp;</i> <span>Info &amp; Prijzen</span></a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li><a href="/prijzen">Prijzen</a></li>
                            <li><a href="/proefdruk">Proefdruk</a></li>
                            <li><a href="/enveloppen-info">Enveloppen</a></li>
                            <li><a href="/betalen">Betalen</a></li>
                            <li><a href="/bezorging">Bezorging</a></li>
                            <li><a href="/garantie">Garantie</a></li>
                            <li><a href="/privacy">Privacy</a></li>
                            <li><a href="/FAQ">Veelgestelde vragen</a></li>
                            <li><a href="/algemene_voorwaarden">Algemene voorwaarden</a></li>
                        </ul>
                    </li>
                    <li class="dropdown js-dropdown" id="navbar-logout"><a class="js-dropdown-click account" href="javascript:void(0);" title="Account"><i class="icon icon-user">&nbsp;</i> <span>Account</span></a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li><a href="/account_address">Persoonsgegevens</a></li>
                            <li><a href="/account_password">Wachtwoord wijzigen</a></li>
                            <li><a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a></li>
                            <li><a href="/account_orders">Bestellingen</a></li>
                            <li><a href="/eigen_collectie">Eigen collectie</a></li>
                            <li style="border-top: 1px dashed #e0e0e0;"><a href="/logout">Uitloggen</a></li>
                        </ul>
                    </li>
                    <li id="navbar-login"><a href="/login" title="Inloggen"><i class="icon icon-user">&nbsp;</i> <span>Inloggen</span> </a></li>
                    <li><a class="basket" href="/basket_n" title="Winkelmandje"><i class="icon icon-basket">&nbsp;</i> <span id="navbar-basket">0 items</span> </a></li>
                </ul>
            </div>
            <div class="topbar-account-mob"><i class="icon icon-user">&nbsp;</i></div>
            <div class="topbar-favourites-mob"><a href="/eigen_collectie"><i class="icon icon-heart-outline">&nbsp;</i></a></div>
            <div class="topbar-basket-mob"><i class="icon icon-basket">&nbsp;</i></div>
            <div class="topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li><a href="/basket_n">Winkelmand</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/eigen_collectie">Eigen collectie</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Inloggen</a></li>
                </ul>
            </div>
            <div class="topbar-account-menu-mob">
                <p class="account-mobile-menu-title">Account</p>
                <ul>
                    <li><a href="/login">Inloggen</a></li>
                    <li><a href="/eigen_collectie">Eigen collectie</a></li>
                    <li><a href="/account_adresboek">Adresboek</a></li>
                    <li><a href="/account_adres_9mport">Adressen importeren</a></li>
                    <li><a href="/account">Account</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="nav-m">
            <div class="mobile-nav__highlight-items"><span class="mobile-nav__highlight-item"><a href="/">Home</a> <!-- default --> </span></div>
            <span class="mobile-nav__menu navbar-hamburger"><button type="button"><span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></button>menu</span>
        </div>
        <div class="container">
            <div class="collapse"><a class="logo" href="/home" title="Kaartjes"><img alt="meis en manneke logo" src="/media/logo.png"  /></a>
                <!--<ul class="middlebar-menu-left">
	<li><a href="/zelf-geboortekaartjes-maken">Zelf maken</a></li>
</ul>-->
                <ul class="middlebar-menu-right">
                    <li class="dropdown js-dropdown"><a class="js-dropdown-click" href="javascript:void(0);">Geboortekaartjes</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li><a href="/geboortekaartjes">Alle geboortekaartjes</a></li>
                            <li><a href="/adoptiekaartjes">Adoptie</a></li>
                            <li><a href="/geboortekaartjes-boom">Boom</a></li>
                            <li><a href="/geboortekaartjes-dieren">Dieren</a></li>
                            <li><a href="/geboortekaartjes-hartjes">Hartjes</a></li>
                            <li><a href="/geboortekaartjes-hout">Hout</a></li>
                            <li><a href="/lieve-geboortekaartjes">Lief</a></li>
                            <li><a href="/moderne-geboortekaartjes">Modern</a></li>
                            <li><a href="/originele-geboortekaartjes">Origineel</a></li>
                            <li><a href="/romantische-geboortekaartjes">Romantisch</a></li>
                            <li><a href="/geboortekaartjes-ruitjes">Ruitjes</a></li>
                            <li><a href="/stoere-geboortekaartjes">Stoer</a></li>
                            <li><a href="/geboortekaartjes-tweeling">Tweeling</a></li>
                            <li><a href="/typografie-geboortekaartjes">Typografie</a></li>
                            <li><a href="/geboortekaartjes-uil">Uil</a></li>
                            <li><a href="/vrolijke-geboortekaartjes">Vrolijk</a></li>
                            <li><a href="/vintage-geboortekaartjes">Vintage</a></li>
                        </ul>
                    </li>
                    <li><a href="/trouwkaarten">Trouwkaarten</a></li>
                    <li><a href="/verhuiskaarten">Verhuiskaarten</a></li>
                    <li><a href="/wenskaarten">Wenskaarten</a></li>
                    <li><a href="/zelf-maken">Zelf maken</a></li>
                </ul>
            </div>
            <div class="open-navbar-search"><i class="icon icon-search">&nbsp;</i></div>
            <div class="navbar-search-field">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop77.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field"><i class="icon icon-search">&nbsp;</i></button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>