<link href="/css/custom-finn.css" rel="stylesheet" />
<div class="navbar">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button">
                <!--<button class="navbar-hamburger hamburger-border" type="button">--><span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></button>
            <a class="logo" href="/"><img alt="fuif" class="logosmall logo-default" src="/img/header/logo.svg" /> <img alt="fuif jubileum" class="logosmall logo-jubileum" src="/img/header/logo_jubileum.png" /> <img alt="fuif thema" class="logosmall logo-thema" src="/img/header/logo_thema.png" /> </a>
            <div class="topbar-menu-left"><a href="/bezorging" title="Vóór 18:00 besteld, dezelfde werkdag verzonden">V&oacute;&oacute;r 18:00 besteld, dezelfde werkdag verzonden</a> <a href="/proefdruk" title="Proefdruk 1,-">Proefdruk &euro; 0,99</a></div>
            <div class="topbar-menu-right">
                <ul>
                    <li><a class="basket" href="/contact" title="Contact"><i class="icon icon-mail">&nbsp;</i> <span>Contact</span></a></li>
                    <li class="info dropdown js-dropdown"><a class="help js-dropdown-click" href="/hulp" title="Hulp"><i class="icon icon-info">&nbsp;</i> <span>Info &amp; Prijzen</span></a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li><a href="/prijzen">Prijzen</a></li>
                            <li><a href="/proefdruk">Proefdruk</a></li>
                            <li><a href="/enveloppen-info">Enveloppen</a></li>
                            <li><a href="/betalen">Betalen</a></li>
                            <li><a href="/direct-verzenden">Directe verzending</a></li>
                            <li><a href="/bezorging">Bezorging</a></li>
                            <li><a href="/garantie">Garantie</a></li>
                            <li><a href="/privacy">Privacy</a></li>
                            <li><a href="/faq">Veelgestelde vragen</a></li>
                            <li><a href="/algemene_voorwaarden">Algemene voorwaarden</a></li>
                        </ul>
                    </li>
                    <li class="dropdown js-dropdown" id="navbar-logout"><a class="js-dropdown-click account" href="javascript:void(0);" title="Account"><i class="icon icon-user">&nbsp;</i> <span>Account</span></a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li><a href="/account_address">Persoonsgegevens</a></li>
                            <li><a href="/account_password">Wachtwoord wijzigen</a></li>
                            <li><a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a></li>
                            <li><a href="/account_orders">Bestellingen</a></li>
                            <li><a href="/eigen_collectie">Eigen collectie</a></li>
                            <li style="border-top: 1px dashed #e0e0e0;"><a href="/logout">Uitloggen</a></li>
                        </ul>
                    </li>
                    <li id="navbar-login"><a href="/login" title="Inloggen"><i class="icon icon-user">&nbsp;</i> <span>Inloggen</span> </a></li>
                    <li><a class="basket" href="/basket_n" title="Winkelmandje"><i class="icon icon-basket">&nbsp;</i> <span id="navbar-basket">0 items</span> </a></li>
                </ul>
            </div>
            <div class="topbar-account-mob"><i class="icon icon-user">&nbsp;</i></div>
            <div class="topbar-favourites-mob"><a href="/eigen_collectie"><i class="icon icon-heart-outline">&nbsp;</i></a></div>
            <div class="topbar-basket-mob"><i class="icon icon-basket">&nbsp;</i></div>
            <div class="topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li><a href="/basket_n">Winkelmand</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/eigen_collectie">Eigen collectie</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Inloggen</a></li>
                </ul>
            </div>
            <div class="topbar-account-menu-mob">
                <p class="account-mobile-menu-title">Account</p>
                <ul>
                    <li><a href="/login">Inloggen</a></li>
                    <li><a href="/eigen_collectie">Eigen collectie</a></li>
                    <li><a href="/account_adresboek">Adresboek</a></li>
                    <li><a href="/account_adres_9mport">Adressen importeren</a></li>
                    <li><a href="/account">Account</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="nav-m">
            <div class="mobile-nav__highlight-items"><span class="mobile-nav__highlight-item"><a href="/">Home</a> <!-- default --> </span></div>
            <span class="mobile-nav__menu navbar-hamburger"><button type="button"><span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></button> menu </span>
        </div>
        <div class="mobile__trust">
            <div class="mobile__trust-rating--number">9,7</div>
            <img alt="opiness 2017" class="mobile__trust-logo" src="/img/header/opiness2017.jpg" />
            <div class="mobile__trust-rating--stars"><i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i> <i class="icon icon-star">&nbsp;</i></div>
            <div class="mobile__trust-rating--text">Beoordeeld door 4.642 klanten</div>
        </div>
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/home" title="Kaartjes"><img alt="fuif" class="logo-default" src="/img/header/logo.svg" /> <img alt="fuif jubileum" class="logo-jubileum" src="/img/header/logo_jubileum.png" /> <img alt="fuif thema" class="logo-thema" src="/img/header/logo_thema.png" /> </a>
                <ul class="middlebar-menu-right">
                    <li><a href="/jubileumkaarten">Jubileum</a></li>
                    <li><a href="/uitnodiging-verjaardag">Verjaardag</a></li>
                    <li><a href="/themafeest">Themafeesten</a></li>
                    <li><a href="/zelf-kaarten-maken">Zelf ontwerpen</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
            <div class="open-navbar-search"><i class="icon icon-search">&nbsp;</i></div>
            <div class="navbar-search-field">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop77.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field"><i class="icon icon-search">&nbsp;</i></button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Zoek jouw kaart" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MOBILE HEADER HIGHLIGHT MENUS -->
<!-- 
    The default highlight menu is 'highlight'. 
    The default highlight menu for 'geboortekaartjes' would be 'highlight_geboortekaartjes'. 
    The page geboortekaartjes/geboortekaartjes-jongen' will also use this highlight menu 'highlight_geboortekaartjes'.
    Unless 'highlight_geboortekaartjes_geboortekaartjes-jongen' is defined as a menu.

    The naming uses _ instead of /
-->
<div class="js-highlight-menus" id="highlight-menus">
    <div class="hide" id="highlight"><!-- THIS IS DEFAULT -->
        <span class="mobile-nav__highlight-item"><a href="/jubileumkaarten">Jubileum</a></span> 
        <span class="mobile-nav__highlight-item"><a href="/uitnodiging-verjaardag">Verjaardag</a></span>
        <span class="mobile-nav__highlight-item"><a href="/themafeest">Themafeest</a></span>
        <span class="mobile-nav__highlight-item"><a href="/zelf-kaarten-maken">Zelf maken</a></span>
        <span class="mobile-nav__highlight-item"><a href="/uitnodiging-maken">Uitnodiging maken</a></span>
    </div>
    <div class="hide" id="highlight_zelf-maken">
        <span class="mobile-nav__highlight-item"><a href="/jubileumkaarten">Jubileum</a></span> 
        <span class="mobile-nav__highlight-item"><a href="/uitnodiging-verjaardag">Verjaardag</a></span> 
        <span class="mobile-nav__highlight-item"><a href="/themafeest">Themafeest</a></span></div>
</div>
