<div class="visual js-visual-fullwidth-ontop"><img class="img-responsive img-center" src="/media/banner.png" /></div>
<div class="cols poster">
    <div class="xsm-5 sm-3">
        <div class="poster-item poster-item--geboortekaartjes-jongens" onclick="location.href = '/geboortekaartjes-jongens';">
            <h3 class="poster-title poster-title--top-right">jongenskaartjes</h3>
            <img src="/img/home/traktor.png" /></div>
    </div>
    <div class="xsm-7 sm-5">
        <div class="poster-item poster-item--trouwkaarten" onclick="location.href = '/trouwkaarten';">
            <h3 class="poster-title poster-title--bottom-right">trouwkaarten</h3>
            <img class="fill" alt="" src="/media/Trouwenkopie.png" style="width: 380px; height: 198px;" /></div>
    </div>
    <div class="xsm-4 sm-4">
        <div class="poster-item poster-item--geboortekaartjes-meisjes" onclick="location.href = '/geboortekaartjes-meisjes';">
            <h3 class="poster-title poster-title--top-right">meisjeskaartjes</h3>
            <img src="/img/home/jurkje.png" /></div>
    </div>
    <div class="xsm-8 sm-5">
        <div class="poster-item poster-item--nieuwe-geboortekaartjes" onclick="location.href = '/nieuwe-kaartjes';">
            <h3 class="poster-title poster-title--bottom-left">nieuwe
                <br /> geboortekaartjes
            </h3>
            <img class="fill" alt="" height="185" src="/media/nieuwegeboorte.jpg" width="357" /></div>
    </div>
    <div class="xsm-6 sm-4">
        <div class="poster-item poster-item--jubileumkaarten" onclick="location.href = '/jubileumkaarten';">
            <h3 class="poster-title poster-title--bottom-left">jubileumkaarten</h3>
            <img alt="" height="167" src="/media/Taartje.png" width="102" /></div>
    </div>
    <div class="xs-hide xsm-hide sm-3">
        <div class="poster-item poster-item--jongen"><img class="fill" alt="" src="/media/jongenskaartjestoer.jpg" style="width: 213px; height: 185px;" /></div>
    </div>
    <div class="xsm-6 sm-3">
        <div class="poster-item poster-item--zelf-maken" onclick="location.href = '/zelf-maken';">
            <h3 class="poster-title poster-title--top-left">zelf maken</h3>
            <img src="/img/home/computer.png" /></div>
    </div>
    <div class="xsm-5 sm-4">
        <div class="poster-item poster-item--trends-stijlen" onclick="location.href = '/trends-stijlen';">
            <h3 class="poster-title poster-title--bottom-right">winter</h3>
            <img class="fill" alt="" src="/media/Trendswinter.jpg" /></div>
    </div>
    <div class="xsm-7 sm-5">
        <div class="poster-item poster-item--nieuwe-trouwkaarten" onclick="location.href = '/nieuwe-trouwkaarten';">
            <h3 class="poster-title poster-title--bottom-right">nieuwe
                <br /> trouwkaarten
            </h3>
            <img class="fill" alt="" height="187" src="/media/TrouwenNieuw.png" width="361" /></div>
    </div>
</div>

<div class="container">
    <h2 class="text-center">De nieuwste kaartjes</h2>
    <div class="js-add-tag-scroller">&nbsp;</div>
</div>

<div class="container">
    <h2 class="text-center">Geboortekaartjes, trouwkaarten en meer!</h2>
    <h1>Hoera, een nieuwe website!</h1>
    <p>Welkom op de nieuwe website van MEISenMANNEKE.&nbsp; Een nieuwe uitstraling, nieuwe ontwerpen en nieuwe mogelijkheden voor jou als bezoeker. Bovendien kun je nu op werkdagen tot 18.00 uur je kaartjes bestellen en dan worden ze nog dezelfde dag gedrukt en verzonden.&nbsp;De komende tijd zullen er in rap tempo nieuwe kaarten bijkomen, hou de site dus in de gaten!</p>
    <p>&nbsp;</p>
    <p>Helemaal leuk natuurlijk, zo&#39;n nieuwe site, maar wat als je een kaartje hebt ontworpen op de oude website? Dat is geen probleem! De
        <a href="http://meisenmanneke-geboortekaartjes.nl" target="_blank">oude website</a> is nog een paar maanden in werking. Voor geboortekaartjes op de oude website gelden de levertijd, prijzen en voorwaarden zoals ze op die website staan. Ben je een nieuwe bezoeker en heb je nog geen account aangemaakt? Dan raden wij je aan om van onze nieuwe website gebruik te maken.&nbsp; Heb je vragen hierover stuur ons dan gewoon even een mailtje naar
        <a href="mailto:info@meisenmanneke.nl?subject=Vraagje%20over%20oude%20website">info@meisenmanneke.nl</a>
    </p>
    <h1>&nbsp;</h1>
    <h1>Geboortekaartjes</h1>
    <p>Ben je op zoek naar dat ene speciale kaartje voor jullie kleintje op komt?&nbsp; Kijk dan maar eens lekker rond op onze website. MEISenMANNEKE ontwerpt hippe geboortekaartjes die net even anders zijn.&nbsp; En het allerleukste is dat je een kaartje helemaal zelf naar wens kunt maken. Kies de mooiste uit en ga lekker aan de slag met tekst en kleur.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>

<div class="cols cols-multi home-thumbs">
    <div class="xs-6 xsm-6 sm-3 ">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
            <a href="/prijzen" target="_self"><img alt="" src="/media/Prijzen.jpg" style="width: 205px; height: 185px;" /></a>
            <div class="thumbnail-footer text-center">
                <h3>Prijzen</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-3 ">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
            <a href="/papiersoorten" target="_self"><img alt="" src="/media/papiersoorten.jpg" style="width: 205px; height: 187px;" /></a>
            <div class="thumbnail-footer text-center">
                <h3>Papiersoorten</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-3 ">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
            <a href="/enveloppen-info" target="_self"><img alt="" src="/media/enveloppen.jpg" style="width: 205px; height: 187px;" /></a>
            <div class="thumbnail-footer text-center">
                <h3>Enveloppen</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-3 ">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
            <a href="/proefdruk" target="_self"><img class="img-responsive img-center" src="/media/geboorgemeisje.jpg" style="width: 205px; height: 187px;" /></a>
            <div class="thumbnail-footer text-center">
                <h3>Proefdruk</h3>
            </div>
        </div>
    </div>
</div>
<div class="cols cols-multi home-thumbs">
    <div class="xs-6 xsm-6 sm-3 ">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
            <a href="/babynamen" target="_self"><img alt="" src="/media/BlokjeNamen.jpg" style="width: 205px; height: 187px;" /></a>
            <div class="thumbnail-footer text-center">
                <h3>Babynamen</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-3 ">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/tekst-geboortekaartjes;">
            <a href="/tekst-geboortekaartjes" target="_self"><img alt="" src="/media/Babygeboortekaartje.jpg" style="width: 205px; height: 187px;" /></a>
            <div class="thumbnail-footer text-center">
                <h3>Tekst geboortekaartjes</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-3 ">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
            <a href="/tekst-trouwkaart" target="_self"><img alt="" src="/media/teksttrouwkaartHuwelijk.jpg" style="width: 204px; height: 186px;" /></a>
            <div class="thumbnail-footer text-center">
                <h3>Tekst trouwkaart</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-3 ">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
            <a href="/kaart-kamer" target="_self"><img class="img-responsive img-center" src="/media/Behangautotjes.jpg" style="width: 205px; height: 185px;" /></a>
            <div class="thumbnail-footer text-center">
                <h3>Kaart &amp; Kamer</h3>
            </div>
        </div>
    </div>
</div>