<div id="template-sidebar">
    <div class="cols">
        <div class="md-12">
            <div class="carousel">
                <div class="carousel-left"><a href="#"><i class="icon icon-arrow-left icon-x2">&nbsp;</i></a></div>
                <div class="carousel-middle"><img alt="" class="img-responsive img-center" src="http://shop77.kaart-o-matic.nl/media/imgabout.png" /></div>
                <div class="carousel-right"><a href="#"><i class="icon icon-arrow-right icon-x2">&nbsp;</i></a></div>
            </div>
        </div>
    </div>
    <div class="cols">
        <div class="md-12">
            <h1 class="text-center">This is the title H1</h1>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
        </div>
    </div>
    <div class="cols cols-multi about-us-thumbs">
        <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
                <img class="img-responsive img-center" src="https://hippe-geboortekaartjes.nl/img/team/jouktje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Joukje</h3>
                    <p>Grafisch ontwerper</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
                <img class="img-responsive img-center" src="https://hippe-geboortekaartjes.nl/img/team/jouktje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Joukje</h3>
                    <p>Grafisch ontwerper</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
                <img class="img-responsive img-center" src="https://hippe-geboortekaartjes.nl/img/team/jouktje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Joukje</h3>
                    <p>Grafisch ontwerper</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
                <img class="img-responsive img-center" src="https://hippe-geboortekaartjes.nl/img/team/jouktje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Joukje</h3>
                    <p>Grafisch ontwerper</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
                <img class="img-responsive img-center" src="https://hippe-geboortekaartjes.nl/img/team/jouktje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Joukje</h3>
                    <p>Grafisch ontwerper</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
                <img class="img-responsive img-center" src="https://hippe-geboortekaartjes.nl/img/team/jouktje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Joukje</h3>
                    <p>Grafisch ontwerper</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
                <img class="img-responsive img-center" src="https://hippe-geboortekaartjes.nl/img/team/jouktje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Joukje</h3>
                    <p>Grafisch ontwerper</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';">
                <img class="img-responsive img-center" src="https://hippe-geboortekaartjes.nl/img/team/jouktje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Joukje</h3>
                    <p>Grafisch ontwerper</p>
                </div>
            </div>
        </div>

    </div>
</div>