/** COMPONENTS - NAVBAR -----------------------------------------**/

.navbar {
    height: auto;
    .topbar {
        a.logo {
            text-align: left;
            width: 50%;
            height: 50px;
            overflow: visible;
            padding: 5px;
            img {
                max-width: initial;
                max-height: initial;
                height: 100%;
            }
        }
        .navbar-hamburger {
            display: none;
        }
        .topbar-account-mob,
        .topbar-favourites-mob {
            display: inline-block;
            font-size: 24px;
            padding: 11px 5px;
            float: right;
        }
        .topbar-account-mob {
            margin-right: 45px;
        }
        .topbar-basket-mob {
            width: 24px;
            i {
                font-size: 24px;
            }
        }
        .topbar-account-menu-mob {
            position: relative;
            background-color: #FFFFFF;
            margin-top: 50px;
            z-index: 99;
            display: none;
            .account-mobile-menu-title {
                padding: 5px 10px;
                margin-bottom: 0;
            }
            ul li {
                border-top: 1px solid #eee;
                a {
                    padding: 5px 10px;
                    display: block;
                }
            }
        }
    }
    .middlebar {
        background: none;
    }
    .navbar-search-field {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        .topbar {
            .navbar-hamburger {
                display: inline-block;
            }
            a.logo {
                height: 60px;
                padding: 5px 0;
            }
            .topbar-account-mob,
            .topbar-favourites-mob {
                padding: 15px 5px;
            }
        }
        .middlebar {
            .navbar-search-field {
                width: 210px;
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        height: auto;
        margin-bottom: 0px;
        background: none;
        .topbar {
            height: 50px;
           .navbar-hamburger {
                display: none;
            }
            .topbar-basket-mob,
            .topbar-account-mob,
            .topbar-favourites-mob {
                display: none;
            }
            a.logo {
                display: none;
            }
        }
        .middlebar {
            position: relative;
            top: 0px;
            a.logo {
                line-height: 1em;
                height: 75px;
                img {
                    height: 100%;
                }
            }
        }
    }
    
}

@media only screen and (min-width: 1200px) {
}