/** BLOCKS - ABOUT-US-THUMBS **/

.about-us-thumbs {
	.thumbnail {
	    margin: 15px;
	    overflow: visible;
	    padding: 0!important;
	    border-radius: 10px;
	    border: 3px solid #fff;
	    background: none;
	    margin-bottom: 90px;
	    img {
	    	margin: -15px;
		    z-index: -1;
		    position: relative;
		    border-radius: 10px;
		    max-width: initial;
		    width: initial;
	    }


	    .thumbnail-footer {
			position: absolute;
			bottom: -90px;
			width: 100%;
			color: $orange;
			font-size: 16px;
			h3 {
				color: $orange;
			}
			p {
				font-style: italic;
				font-size: 14px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.home-thumbs {
	}
}
@media only screen and (min-width: 992px) {
	.home-thumbs {
	}
}
