/** BLOCKS - HOME-THUMBS **/

.home-thumbs {
	margin-left: -10px;
	margin-right: -10px;
	.thumbnail {
		margin-left: -5px;
		margin-right: -5px;
		.thumbnail-footer {
			position: absolute;
			bottom: 15px;
			left: 20px;
			width: calc(100% - 40px);
			border-radius: 5px;
			padding: 2px;
			h3 {
				font-weight: 100;
				color: #000;
				font-size: 14px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.home-thumbs {
	}
}
@media only screen and (min-width: 992px) {
	.home-thumbs {
	}
}
