/** BLOCKS - MAINCONT **/

.mainCont {
    .topCards {
        display: none;
    }
    .sliderBlock {
    	position: relative;
        #pSlide,
        #nSlide {
        	cursor: pointer;
            position: absolute;
            top: 60px;
            z-index: 10;
            background-color:	$yellow;
            width: 30px;
            height: 30px;
            text-align:	center;
            border-radius: 50%;
            line-height: 30px;
        }
        #pSlide:after,
        #nSlide:after {
            font-family: kcicons;
		    vertical-align: middle;
		    color: #fff;
            font-size: 1.2em;
        }

        #pSlide {
            left: -10px;
            &:after {
                content: '\e00A';
            }
        }
        #nSlide {
            right: -10px;
            &:after {
                content: '\e008';
            }
        }
    }
}