/** BLOCKS - NAVBAR **/

.navbar {
    .middlebar {
        // .navbar-search-field {
        //     .search-input-field {
        //         input[type=text] {}
        //     }
        // }
    }
}


@media only screen and (min-width: 768px) {

    .navbar.navbar-style-1 {
        border-bottom: 1px solid #eee;
        .middlebar {
            .navbar-search-field {
                #headersearch {
                    border: 1px solid #ddd;
                }
                .search-button-field {
                    //         position: absolute;
                    //         right: 1px;
                    //     }
                    //     .search-input-field {
                    //         input[type=text] {
                    //             width: 210px;
                    //             border: 1px solid #444;
                    //             border-radius: 5px;
                    //         }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .navbar.navbar-style-1 {
        height: 126px;
        .middlebar {
            .navbar-search-field {
                #headersearch {
                    border: none;
                }
            }
            ul.middlebar-menu-right {
                li a {
                    border-bottom: 4px solid transparent;
                    transition: border 0.3s;
                    &:hover {
                        background: none;
                        border-bottom-color: $yellow;
                    }
                }
            } // .navbar-search-field {
            //     .search-input-field {
            //         input[type=text] {
            //             width: 170px;
            //         }
            //     }
            // }
        }
    }
}


@media only screen and (min-width: 1200px) {


    .navbar.navbar-style-1 {
        .middlebar {
            .navbar-search-field {
            	display: none;
            }
            ul.middlebar-menu-right {
            	right: 40px;
            }
        }
    }
}