/** BLOCKS - MID **/

.poster {
	margin-left: -5px;
	margin-right: -5px;
	.poster-item {
		cursor: pointer;
		overflow: hidden;
		margin-left: -10px;
		margin-right: -10px;
		line-height: 1em;
		position: relative;
		display: block;
		width: calc(100% + 20px);
		background: #eee;
		height: 186px;
		margin-bottom: 10px; 
		&:hover {
			.poster-title {
				background: transparent;
				color: #fff;
			}
		}
		.poster-title {
			position: absolute;
			z-index: 2;
			background: #fff;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 200;
			line-height: 1.05em;
			color: #000;
			padding: 6px 8px 4px 8px;
			transition: color 0.3s, background 0.3s;
			border: 1px solid #fff;
			&--top-right {
				right: 0px;
				top: 5px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				border-right: none;
			}
			&--bottom-right {
				right: 0px;
				bottom: 5px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				border-right: none;
			}
			&--top-left {
				left: 0px;
				top: 5px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-left: none;
			}
			&--bottom-left {
				left: 0px;
				bottom: 5px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-left: none;
			}
		}
		img {
			position: absolute;
			z-index: 1;
			margin: 0 auto;
		}
		img.fill {
			min-width: 100%;
		}
		&--geboortekaartjes-jongens {
			background-color: $green;
			img {
				bottom: 15px;
				left: 20px;
				height: 50%;
			}
		}
		&--trouwkaarten {
		}
		&--geboortekaartjes-meisjes {
			background-color: $pink;
			img {
				bottom: 15px;
				left: 20px;
				height: 70%;
			}
		}
		&--nieuwe-geboortekaartjes {
			background-color: $greyLight;
		}
		&--jubileumkaarten {
			background-color: $yellow;
			img {
				bottom: 15px;
				right: 20px;
				height: 90%;
			}
		}
		&--jongen {
		}
		&--zelf-maken {
			background-color: $blue;
			img {
				bottom: 15px;
				right: 20px;
				height: 50%;
			}
		}
		&--trends-stijlen {
		}
		&--nieuwe-trouwkaarten {
			background-color: $greyLight;
		}
	}
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
