/** BLOCKS - TOPBAR **/

.navbar .topbar {
    font-size: 0.9em;
    .topbar-basket-mob {
        padding: 13px 0;
    }
    .dropdown>a:after {
        margin-top: 3px;
    }
}

.topbar-menu-right i {
    margin-top: 0px;
}

.topbar-menu-left {
    color: $blue;
}


@media only screen and (min-width: 768px) {

    .navbar.navbar-style-1 .topbar {
        .topbar-menu-right>ul>li>a {
            padding: 6px 5px;
            &.basket {
                color: #4f9cc1;
            }
        }
        .topbar-basket-mob {
            padding: 7px 0;
        }
    }
}

@media only screen and (min-width: 992px) {

    .navbar.navbar-style-1 .topbar {
        .topbar-menu-right>ul>li.dropdown.active .dropdown-content {
            top: 44px;
        }
        .topbar-menu-right>ul>li a.basket {
            color: #4f9cc1;
        }
    }
}