/** BUTTON - WIDGET-MENU **/


/* WIDGET MENU ------------------------------------------------------------------------------------------------------ */

#sidebar {
    margin-top: -9px;
    &>.sidebar_widget:first-of-type>h3 {
        height: 0px;
        margin: 0;
        padding: 0;
    }
    .list.list-vertical {
        margin-bottom: 0px;
        >li {
            transition: max-height 0.5s;
            max-height: 55px;
            overflow: hidden;
            &:last-child {
                border-bottom: 1px solid #dde5e5;
            }
            >a {
                display: block;
                color: #6e7277;
                position: relative;
                font-size: 16px;
                font-weight: 500;
                margin: 0;
                border-top: 1px solid #dde5e5;
                padding: 15px 0 12px 0;
                &:after {
                    font-family: kcicons;
                    float: right;
                    content: 'f';
                    color: #ffd34b;
                    transition: all 0.2s;
                }
                &:hover {
                    text-decoration: none;
                }
            }
            >ul {
                border-left: none;
                padding-left: 0px;
                margin-left: 0px;
            }
            &.active {
                >a:after {
                    transform: rotate(90deg);
                }
                >ul {
                    max-height: 1000px;
                }
            }
        }
    }
}

#filter_cards {

    border-top: 1px solid #dde5e5;
    #filter_menu {
        label {
            margin-bottom: 0px;
        }
        h3 {
            margin-bottom: 2px;
            margin-top: 15px;
        }
    }
    h3.filtertop {
        display: block;
        color: #6e7277;
        position: relative;
        font-size: 16px;
        margin: 0;
        font-weight: initial;
        border-top: none;
        padding: 15px 0 12px 0;
        &:after {
            font-family: kcicons;
            float: right;
            content: 'f';
            color: #ffd34b;
            transition: all 0.2s;
            transform: rotate(90deg);
        }
        &:hover {
            text-decoration: none;
        }
        &.close:after {
            transform: rotate(0deg);
        }
    }
}

.envmenu {
    li {
        h3 {
            margin: 0;
            padding: 10px 0;
            border-top: 1px solid #dde5e5;
            >a {
                display: block;
                color: #6e7277;
                position: relative;
                font-size: 16px;
                margin: 0;
                font-weight: 500;
                &:after {
                    font-family: kcicons;
                    float: right;
                    content: 'f';
                    color: #ffd34b;
                    transition: all 0.2s;
                    transform: rotate(90deg);
                }
                &:hover {
                    text-decoration: none;
                }
                &.close:after {
                    transform: rotate(0deg);
                }
            }
        }
    }
}

#sidebar .sidebar_widget h3 {
    margin: 0px; 
}

#sidebar #filter_cards .tag-li {
    padding-left: 3px;
}

#sidebar .sidebar_widget .widget_content li {
    display: block !important;
}

#sidebar .sidebar_widget .widget_content li.list-toggle {
    display: none !important;
}



#sidebar .list li a[href="/geboortekaartjes-jongens"]:before,
#sidebar .list li a[href="/geboortekaartjes-meisjes"]:before,
#sidebar .list li a[href="/zelf-maken"]:before,
#sidebar .list li a[href="/nieuwe-kaartjes"]:before,
#sidebar .list li a[href="/met-foto"]:before,
#sidebar .list li a[href="/tweeling"]:before,
#sidebar .list li a[href="/enveloppen-info"]:before {
    font-family: kcicons;
    content: 'l';
    margin-right: 5px;
    font-size: 14px;
    color: #888;
}

#sidebar .list li ul li a {
    color: #4f9cc1;
    font-weight: 300;
    padding: 0;
    &:hover {
        color: #6e7277;
    }
}

#sidebar .list li a[href="/geboortekaartjes-meisjes"]:before {
    content: 'n';
}

#sidebar .list li a[href="/zelf-maken"]:before {
    content: 'r';
}

#sidebar .list li a[href="/nieuwe-kaartjes"]:before {
    content: 'o';
}

#sidebar .list li a[href="/met-foto"]:before {
    content: 'g';
}

#sidebar .list li a[href="/tweeling"]:before {
    content: '\e01D';
}

#sidebar .list li a[href="/enveloppen-info"]:before {
    content: '\e01F';
}



#filter_menu li.tag-li input {
    display: none;
}

#filter_menu li.tag-li label {
    font-size: 16px;
    line-height: 27px;
    color: #4f9cc1;
    font-weight: 300;
    padding: 0;
}

#filter_menu h3 {
    font-size: 16px;
    color: #999999;
    font-weight: 300;
}

#filter_menu li.tag-li .custom_checkbox {
    border: 1px solid #A7A7A7;
    border-radius: 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

#filter_menu li.tag-li .number-of-tags {
    color: #ccc;
    font-style: normal;
    margin-left: 3px;
}

#filter_menu ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu ul li label:hover .custom_checkbox:after {
    font-family: kcicons;
    color: #555;
    content: "\e010";
    font-size: 16px;
    line-height: 0.5em;
    vertical-align: text-top;
    padding-left: 0px;
}

#tagli-kleurrijk label {
    background: linear-gradient(-55deg, #387ed7 40%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%);
}





@media screen and (min-width: 992px) {


    #filter_menu #taggroupul-kleur .custom_checkbox,
    #filter_menu #taggroupul-kleuren .custom_checkbox {
        border: none;
        margin: -2px 6px;
    }
}